body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: auto;
    background: white;
    margin-top: 40px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #bbb;
}

button {
    background: #0B5ED7;
    border: none;
    padding: 10px 18px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #084298;
}

pre {
    white-space: pre-wrap;      
    word-wrap: break-word;      
    overflow-wrap: break-word;  
    padding: 15px;
    background: #f4f4f4;
    border-radius: 8px;
    line-height: 1.5;
    font-size: 16px;
}


 .card {
    background: #fafafa;
    padding: 20px;
    margin-top: 20px;
    border-left: 5px solid #0B5ED7;
    border-radius: 5px;
}

.answer {
    border-left-color: #198754;
}
